{% extends "auctions/layout.html" %}

{% block body %}
        <div class="container" mx-3>
            {% if user.is_authenticated %}
                {% if isListingInWatchlist %}
                    <form action="{% url 'removeWatchlist' id=listing.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Remove From Watchlist</button>
                    </form>
                {% else %}
                    <form action="{% url 'addWatchlist' id=listing.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">Add To Watchlist</button>
                    </form>
                {% endif %}
            {% endif %}
        </div>

        <h2>{{ listing.title }}</h2>
        <img src="{{ listing.imageUrl }}" alt="{{ listing.title }}" height="400px">
        <p>{{ listing.description }}</p>
        <p>Owner: {{ listing.owner }}</p>
        <h4>${{ listing.price }}</h4>

        <div class="row mx-3">
            <h2>Comments</h2>
            {% if user.is_authenticated  %}
                <form action="{% url 'addComment' id=listing.id %}" method="POST">
                    <input type="text" name="newComment" placeholder="Add New Comment">
                </form>
            {% endif %}
        </div>
{% endblock %}


























